<div layout="column" ng-cloak class="md-inline-form">
    <form name="refuelForm">
        <input type="text" ng-model="vm.newRefuel.date"/>
        <input type="text" ng-model="vm.newRefuel.carDistance"/>
        <input type="text" ng-model="vm.newRefuel.unitPrice"/>
        <input type="text" ng-model="vm.newRefuel.amountPurchased"/>
        <select ng-model="vm.newRefuel.type" ng-repeat="type in vm.fuelTypes">
            <option value="{{type.id}}">{{type.name}}</option>
        </select>
        <select ng-model="vm.newRefuel.petrolStation" ng-repeat="station in vm.petrolStations">
            <option value="{{station.id}}">{{station.name}}</option>
        </select>
        <input type="submit" value="Submit" ng-click="vm.showRefuelStatus()"/>
    </form>
</div>