<div layout="column" ng-cloak class="md-inline-form">
    <form name="refuelForm">
        <input type="text" ng-model="vm.newRefuel.date"/>
        <input type="text" ng-model="vm.newRefuel.carDistance"/>
        <input type="text" ng-model="vm.newRefuel.unitPrice"/>
        <input type="text" ng-model="vm.newRefuel.amountPurchased"/>
        <input type="text" ng-model="vm.newRefuel.type"/>
        <input type="text" ng-model="vm.newRefuel.petrolStation"/>
        <input type="submit" value="Submit" ng-click="vm.showRefuelStatus()"/>
    </form>
</div>