<div layout="vertical" layout-fill>

    <md-content>
        <div class="techs" layout-align="center">
            <md-card ng-repeat="car in cars.getCars()">
                <md-card-content>
                    <h3 class="md-title">{{ car.name }}</h3>
                </md-card-content>
                <div class="md-action-buttons">
                    <md-button ng-click="cars.show(car.id)">Show</md-button>
                    <md-button ng-click="cars.rm(car.id)">Remove</md-button>
                </div>
            </md-card>
        </div>
    </md-content>

</div>
